@model ShoppingList.Models.ShoppingItemViewModel

@{
    ViewData["Title"] = "Index";
}

<h4>Add shopping item</h4>

<div class="background">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                @await Html.PartialAsync("_InputForm")
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <form id="deleteAllButton" method="post" asp-controller="Home" asp-action="EmptyList">
        <input type="button" class="btn btn-danger" value="Empty List" onclick="$('#deleteAllButton').submit();" />
    </form>
</div>

<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
            </th>
            <th>
                Is in the shopping cart?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingItems)
        {
            @await Html.PartialAsync("_ShoppingItemListElement", item)
        }
    </tbody>
</table>
